body { 
    padding-top: 100px;
    min-width: 460px;
}
.ds-admin-navbar {
    min-width: 460px;
}    
.ds-form {
}
.ds-form-input {
}
.ds-form-input:focus {
}
.ds-form-btn {}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
