body { 
    padding-top: 100px;
}
.ds-navbar-title {
    font-size: 115%;
}
@media (min-width: 500px) {
    .ds-navbar-title {
        font-size: 150%;
    }
}
.ds-panel .panel-heading, .ds-panel .panel-footer {
    background-color: #0099BB;
}
.ds-panel {
    border-color:#0099BB;
}
.ds-panel-heading, .ds-panel-footer {
    color:#FFFFFF;
}
.ds-panel-link:hover {
    background-color:#20B9DB;
}
.no-decoration:hover {
    text-decoration: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
