body {
    padding-top: 70px;
}
.ds-navbar {
    box-shadow: 0px 10px 10px #555;
}
.ds-navbar-title {
    font-size: 100%;
}
.no-decoration:hover {
    text-decoration: none;
}
.ds-navbar-title {
    font-size: 100%;
}
.ds-poem-title {
    font-size: 125%
}
@media (max-width: 250px) {
    .ds-navbar-title {
        font-size: 80%;
    }
    .ds-poem-title {
        font-size: 100%
    }
    .hidden-xxs {
        display: none;
    }
    .ds-btn {
        font-size: 80%
    }
}
@media (min-width: 350px) {
    .ds-navbar-title {
        font-size: 125%;
    }
}
@media (min-width: 500px) {
    .ds-navbar-title {
        font-size: 150%;
    }
    .ds-poem-title {
        font-size: 150%
    }
}
.ds-navbar-text {
    color: #0099BB;
}
.ds-navbar-text:hover {
    text-decoration: none;
}
.ds-poem {}
.ds-poem-header {
    background-color: #F8DfDf !important;
}
.ds-poem-date {
    float: right;
}
.ds-poem-body {}
.ds-poem-content {}

.ds-btn {
    color: #0099BB;
}



