body {
    padding-top: 60px;
}
.ds-navbar {
    box-shadow: 0px 10px 10px #555;
}
.ds-navbar-title {
    font-size: 100%;
}
.no-decoration:hover {
    text-decoration: none;
}
@media (min-width: 768px) {
    .ds-navbar-title {
        font-size: 150%;
    }
}
.ds-navbar-title {
    font-size: 150%;
}
.ds-navbar-text {
    color: #0099BB;
}
.ds-navbar-text:hover {
    text-decoration: none;
}

.ds-post {}
.ds-post-header {}
.ds-post-title {
    font-size: 150%
}
.ds-post-date {
    float: right;
}
.ds-post-body {}
.ds-post-content {}


.ds-btn {
    color: #0099BB;
}



