body {
    padding-top: 70px;
}
.ds-text {
    color: #007799;
}
.ds-red-text {
    color: #E44;
}
.ds-list-highlight:hover {
    background-color: #E0FFFF;
}
.ds-navbar {
    box-shadow: 0px 5px 10px #555;
}
.ds-pad-left {
    padding-left: 5px;
}
.ds-navbar-title {
    font-size: 100%;
}
.no-decoration:hover {
    text-decoration: none;
}
.ds-navbar-title {
    font-size: 100%;
}
.ds-poem-title {
    font-size: 125%
}
.ds-navbar-text {
    color: #0099BB;
}
.ds-navbar-text:hover {
    text-decoration: none;
}
.ds-poem-header {
    background-color: rgba(40,183,215,0.4) !important;
}
.ds-btn {
    color: #0099BB;
}
.ds-permanant-link {
    text-align: center;
}
@media (max-width: 250px) {
    .ds-navbar-title {
        font-size: 80%;
    }
    .ds-poem-title {
        font-size: 100%
    }
    .hidden-xxs {
        display: none;
    }
    .ds-btn {
        font-size: 80%
    }
}
@media (min-width: 350px) {
    .ds-navbar-title {
        font-size: 125%;
    }
}
@media (min-width: 500px) {
    .ds-navbar-title {
        font-size: 150%;
    }
    .ds-poem-title {
        font-size: 150%
    }
}
