{% extends 'base.html' %}
{% block title %}404 | {% end %}

{% block header_styles %}
<link rel="stylesheet" href="/static/css/admin.css"/>
{% end %}

{% block header_scripts %}
<script type="text/javascript" src="/static/js/admin.js"></script>
{% end %}

{% block content %}
<div class="navbar ds-admin-navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand ds-navbar-title">
                <a class="ds-navbar-text" href="/admin">
                    Daily Salute
                    <small>
                            Administration
                    </small>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/admin/manage/poems">
                        <span class="ds-navbar-text">Manage Poems</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/manage/content">
                        <span class="ds-navbar-text active">Manage Pages</span>
                    </a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <span class="ds-navbar-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>404</h1>
                </div>
                <div class="panel-body">
                    The page you reached does not exist<br>
                    The URL entered has missed<br>
                    If its poem<br>
                    For which you roam<br>
                    Then go back <a href="/admin">home</a> I must insist<br>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
