<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Daily poetry from Jillian Entenman{% end %}">
        <meta name="author" content="Jillian Entenman">
        <meta name="keywords" content="Jillian Entenman Daily Salute #DailySalute">

        <title>{% block title %}{% end%}Daily Salute by Jillian Entenman</title>

        <!-- CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/daily-salute.css" rel="stylesheet"/>
        {% block header_styles %}
        {% end %}
        
        <!-- Javascript -->
        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/daily-salute.js"></script>
        {% block header_scripts %}
        {% end %}
    </head>
    <body>
        {% block content %}
        {% end %}
    </body>
</html>
