{% extends 'base.html' %}
{% block title %}{{poem_title}} || {% end %}
{% block description %}{% end %}
{% block meta %}
{% if is_front_page %}
<meta property="og:url" content="http://www.dailysalute.org/" /> 
<meta property="og:title" content="Daily Salute" />
{% else %}
<meta property="og:url" content="http://www.dailysalute.org/poem/{{poem_id}}" /> 
<meta property="og:title" content="{{poem_title}} || Daily Salute" />
{% end %}
<meta property="og:description" content="Raise your face to the sun." /> 
<meta property="og:image" content="http://www.dailysalute.org/static/img/logo.jpg" /> 
<meta property="og:type" content="website" /> 
<meta property="og:site_name" content="Daily Salute" /> 
{% end %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Nav Bar -->
<div class="navbar ds-navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand ds-navbar-title">
                <a class="ds-navbar-text" href="/">
                    Daily Salute
                </a>
                <small>
                    <a class="ds-navbar-text" href="/contact">
                        by Jillian Entenman
                    </a>
                </small>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/">
                        <span class="ds-navbar-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span class="ds-navbar-text">About</span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <span class="ds-navbar-text">Contact</span>
                    </a>
                </li>
                <li>
                    <a href="/archive">
                        <span class="ds-navbar-text">Archive</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Resizable Content -->
{% include 'collage.html' %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-centered">
            <div class="pager">
                <a role="button" class="btn btn-default ds-btn" href="/poem/1">
                    <span class="glyphicon glyphicon-backward"></span><span class="hidden-xs"> Oldest</span>
                </a>
                <a role="button" class="btn btn-default ds-btn" href="/poem/{{prev_page}}">
                    <span class="glyphicon glyphicon-chevron-left"></span><span class=""><span class="hidden-xxs"> Prev</span><span class="hidden-xs">ious</span></span>
                </a>
                <a role="button" class="btn btn-default ds-btn" href="/poem/random">
                    <span class="glyphicon glyphicon-heart visible-xs-inline"></span><span class="hidden-xs">Random</span>
                </a>
                <a role="button" class="btn btn-default ds-btn" href="/poem/{{next_page}}">
                    <span class="hidden-xxs">Next </span><span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a role="button" class="btn btn-default ds-btn" href="/">
                    <span class="hidden-xs">Newest </span><span class="glyphicon glyphicon-forward"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="entry-container" class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-centered">
            {% include 'poem.tmpl.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-centered">
            <div class="pager">
                <a role="button" class="btn btn-default ds-btn" onClick="link('/poem/1')">
                    <span class="glyphicon glyphicon-backward"></span><span class="hidden-xs"> Oldest</span>
                </a>
                <a role="button" class="btn btn-default ds-btn" onClick="link('/poem/{{prev_page}}')">
                    <span class="glyphicon glyphicon-chevron-left"></span><span class=""><span class="hidden-xxs"> Prev</span><span class="hidden-xs">ious</span></span>
                </a>
                <a role="button" class="btn btn-default ds-btn" onClick="link('/poem/random')">
                    <span class="glyphicon glyphicon-heart visible-xs-inline"></span><span class="hidden-xs">Random</span>
                </a>
                <a role="button" class="btn btn-default ds-btn" onClick="link('/poem/{{next_page}}')">
                    <span class="hidden-xxs">Next </span><span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a role="button" class="btn btn-default ds-btn" onClick="link('/')">
                    <span class="hidden-xs">Newest </span><span class="glyphicon glyphicon-forward"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-centered">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div classs="row">
                        <div class="col-sm-6">
                            <div class="fb-like" data-href="http://dailysalute.org/poem/{{poem_id}}" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                        </div>
                        <br class="visible-xs-inline">
                        <div class="col-sm-6">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.dailysalute.org/poem/{{poem_id}}" data-text="&quot;{{poem_title}}&quot; from the Daily Salute" data-via="jillibrown" data-hashtags="dailysalute">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
