<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Daily poetry from Jillian Entenman">
        <meta name="author" content="Jillian Entenman">

        <title>Daily Salute by Jillian Entenman</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/daily-salute.css" rel="stylesheet">
        
        <!-- Custom javascript -->
        <script type="text/javascript" src="/static/js/daily-salute.js"></script>
        
    </head>
    <body>
        <!-- Nav Bar -->
        <div class="navbar ds-navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a class="ds-navbar-text ds-navbar-title" href="#">
                            Daily Salute
                        </a>
                        <small>
                            <a class="ds-navbar-text" href="#contact">
                                by Jillian Entenman
                            </a>
                        </small>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="ds-navbar-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#about">
                                <span class="ds-navbar-text">About</span>
                            </a>
                        </li>
                        <li>
                            <a href="#contact">
                                <span class="ds-navbar-text">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Resizable Content -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-centered">
                    <div class="pager">
                        <button class="btn btn-default ds-btn" onClick="link('/poem/1')">
                            <span class="glyphicon glyphicon-backward"></span><span class="hidden-xs"> Oldest</span>
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/poem/{{prev_page}}')">
                            <span class="glyphicon glyphicon-chevron-left"></span><span class=""> Prev<span class="hidden-xs">ious</span></span>
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/poem/random')">
                            Random
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/poem/{{next_page}}')">
                            Next <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/')">
                            <span class="hidden-xs">Newest </span><span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="entry-container" class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-centered">
                    {% include 'poem.tmpl.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-centered">
                    <div class="pager">
                        <button class="btn btn-default ds-btn" onClick="link('/poem/1')">
                            <span class="glyphicon glyphicon-backward"></span><span class="hidden-xs"> Oldest</span>
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/poem/{{prev_page}}')">
                            <span class="glyphicon glyphicon-chevron-left"></span><span class=""> Prev<span class="hidden-xs">ious</span></span>
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/poem/random')">
                            Random
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/poem/{{next_page}}')">
                            <span class="">Next </span><span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <button class="btn btn-default ds-btn" onClick="link('/')">
                            <span class="hidden-xs">Newest </span><span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="end-scripts">
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
