{% extends 'base.html' %}
{% block title %}Admin Login | {% end %}

{% block header_styles %}
<link rel="stylesheet" href="/static/css/admin.css"/>
{% end %}

{% block header_scripts %}
<script type="type/javascript" src="/static/js/admin.js"></script>
{% end %}

{% block content %}
<div class="navbar ds-navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="ds-navbar-text ds-navbar-title" href="#">
                    Daily Salute
                    <small>
                            Administration
                    </small>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if alert == "logout" %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <b>See you later!</b> Successfully logged out
            </div>
        {% elif alert == "error" %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <b>Error!</b> {{error_message}}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        {% end %}
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 col-centered">
            <form role="form" class="ds-form" action="/auth/login" method="post">
                {% module xsrf_form_html() %}
                <div class="form-group">
                </div>
                <div class="form-group {% if error == 'user' %}has-error{% end %}">
                    <input id="username-field" class="form-control ds-form-input" type="text" name="username" placeholder="Username"/>
                </div>
                <div class="form-group {% if error == 'password' %}has-error{% end %}">
                    <input id="password-field" class="form-control ds-form-input" type="password" name="password" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary ds-form-btn" type="submit" value="Sign in"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}
