{% extends 'base.html' %}
{% block title %}Content Manager | {% end %}

{% block header_styles %}
<link rel="stylesheet" href="/static/css/admin.css"/>
{% end %}

{% block header_scripts %}
<script type="text/javascript" src="/static/js/admin.js"></script>
{% end %}

{% block content %}
<div class="navbar ds-navbar ds-admin-navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a class="ds-navbar-text ds-navbar-title" href="/admin">
                    Daily Salute
                    <small>
                            Administration
                    </small>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/admin/manage/poems">
                        <span class="ds-navbar-text">Manage Poems</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/manage/content">
                        <span class="ds-navbar-text">Manage Pages</span>
                    </a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <span class="ds-navbar-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Resizable Content -->
<div class="container">
    <div class="">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default ds-panel">
                    <div class="panel-heading panel-link">
                        <a href="/admin/create">
                            <div class="row">
                                <div class="col-xs-12 vcenter">
                                    <h3 class="ds-panel-heading"><b>Create</b></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel-body">
                        Start a new draft<!--
                        --><a role="button" href="/admin/create" class="btn btn-success pull-right">Create</a>
                    </div>
                </div>
            </div>
            {% for collection_title,collection,has_more in [("Drafts",drafts,more_drafts),("Poems",poems,more_poems)] %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default ds-panel">
                    <!-- Default panel contents -->
                    <div class="panel-heading panel-link">
                        <a href="/admin/list/{{collection_title.lower()}}">
                            <div class="row">
                                <div class="col-xs-12 vcenter">
                                    <h3 class="ds-panel-heading"><b>{{collection_title}}</b></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if len(collection) > 0 %}
                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Preview</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for poem in collection %}
                            <tr>
                                <td>{{poem["poem_id"]}}</td>
                                <td>{{poem["date"]}}</td>
                                <td>{{poem["title"]}}</td>
                                <td>{% raw poem["preview"] %}</td>
                                <td><button class="btn btn-primary pull-right" onclick="link('/admin/edit/{{collection_title[:-1].lower()}}/{{poem["poem_id"]}}')"><span class="glyphicon glyphicon-pencil visible-xs-inline"></span><span class="hidden-xs">  Edit</span></button></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="panel-body">
                        No {{collection_title.lower()}}
                    </div>
                    {% end %}
                    {% if has_more %}
                    <a class="no-decoration" href="/admin/list/{{collection_title.lower()}}">
                        <div class="panel-footer ds-panel-footer ds-panel-link">
                            See all {{collection_title.lower()}}
                        </div>
                    </a>
                    {% end %}
                </div> 
            </div>
            {% end %}
        </div>
    </div>
</div>
{% end %}
