<div class="panel panel-default ds-poem">
    <div class="panel-heading ds-poem-header">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="panel-title ds-poem-title">
                    {{poem_title}}
                </h1>
            </div>
            <div class="col-sm-4">
                <h4>
                    <small class="pull-right">
                        {{poem_date}}
                    </small>
                </h4>
            </div>
        </div>
    </div>
    <div class="panel-body ds-poem-body">
        {% raw poem_content %}
    </div>
</div>
